<IfModule mod_rewrite.c>
RewriteEngine on


RewriteRule ^$ index.php [L]

RewriteRule ^lang/([a-z-]+)$ index.php?content=lang&lang=$1 [L]

RewriteRule ^([a-z-]+)$ index.php?content=$1 [L]
RewriteRule ^([a-z-]+)/([a-z-]+)$ index.php?content=$1&tag=$2 [L]
RewriteRule ^([a-z-]+)/([a-z-]+)/id/([0-9]+)$ index.php?content=$1&tag=$2&id=$3 [L]
RewriteRule ^([a-z-]+)/([0-9]+)$ index.php?content=$1&hal=$2 [L]
RewriteRule ^([a-z-]+)/id/([0-9]+)/(.*)$ index.php?content=$1_detail&id=$2 [L]
</IfModule>

<IfModule mod_php5.c>
    php_value memory_limit 500M
</IfModule>
php_value upload_max_filesize 200M
php_value post_max_size 200M
php_value max_execution_time 2000
php_value max_input_time 2000
